@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);

body,
h1 {
  margin: 50px;
}

.form-checkbox {
  position: relative;

  input {
    /* display: none; 주면 존재하지 않는 버뮤다 삼각지대... 선택이 안 됨 */
    position: absolute;
    appearance: none; /* 겉모양 -> 나타나지 않게 */
    width: 12px;
    height: 12px;
  }

  label {
    background: url(/components/images/un-check.svg) no-repeat 0 0 / contain;
    padding-left: 25px;
  }

  input:checked + label {
    background-image: url(/components/images/checked.svg);
  }

  input:focus {
    /* outline: 2px solid red;  완전 쪼만한 빨간 박스 보임. 그게 input 요소 */
    outline: none;
  }
  input:focus-visible {
    /* outline: 2px solid red; /* 체크됐을 때 border 안 보여야 되는 거 아닌지? */
    outline: 2px solid red;
  }
}

.tooltip {
  margin-top: 50px;

  .tooltip-icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid #000; /* currentColor */
    border-radius: 50%;
    padding: 0.25em;
    font-size: 10px;

    &:hover + .tooltip-content,
    &:focus + .tooltip-content {
      display: block;
    }
  }

  .tooltip-content {
    display: none;
    margin: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: #fff;
    width: 15em;
  }
}
