@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --container-size: 940px;
}
/* 기본 박스 사이징 설정 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* gradient 배경, 배경 이미지 */
body {
  font-family: "SUIT Variable", sans-serif;
  background-color: #ccc;
  background-image: url(/images/bg_flower.png),
    linear-gradient(to bottom, #ccc 0%, #eee 30%, #aaa 50%, #fff 100%);
  /* 개별 속성 background-image: linear-gradient(red, green); */
  background-repeat: no-repeat;
  background-position: 50% 0, 0 0;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #fff;
  height: 120px;
  padding: 0 50px;
  border-radius: 0 0 15px 15px;
  /* border: 1px solid green; */
  position: relative;
}
/* 로고 */
.logo {
  /* background-color: orange; */
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 비주얼 */
.visual {
  height: 120px;
  block-size: 120px;
  position: relative;
  &::before,
  &::after {
    content: "";
    width: inherit;
    inline-size: inherit;
    height: inherit;
    block-size: inherit;
    position: absolute;
    top: 0;
    left: 0; /* 부모 위치와 같아져서 같은 위치에 겹쳐지는 것처럼 보임 */
    background-repeat: no-repeat;
  }
}

.visual::before {
  background-image: url(/images/ani_flower_01.png),
    url(/images/ani_flower_02.png);
  background-position: 0 -10px, 600px 10px; /* img 자를 때 여백을 포함해서 잘라서 따로 여백 안 줬는데 떨어져 있음 */
}

.visual::after {
  background-image: url(/images/ani_flower_03.png),
    url(/images/ani_flower_04.png);
  background-position: 300px 0, 800px 30px;
}
/* 메인 콘텐츠 */
.main {
  background-color: #fff;
  /* height: 60vh; */
  display: flow-root;
  min-height: 450px;
  padding: 28px 16px 36px;
}

.group {
  border: 1px solid red;
  float: left;
}
.group:nth-child(n + 2) {
  margin-left: 44px;
}

.group1 {
  width: 250px;
  /* background-color: orange; */
}

.group2 {
  width: 380px;
  /* background: silver; */
}

.group3 {
  /* background: hotpink; */
  width: 190px;
}

/* 슬로건 */
.slogan {
  /* background-color: lime; */
  height: 10vh;
  clear: both;
}
/* 푸터 */
/* .footer {
   background-color: orange; 
} */

.footer-inner {
  /* background: yellow; */
  height: 10vh;
}

/* flex를 지원하는 웹 브라우저를 위한 스타일 */
@supports (display: flex) {
  /* flex 속성값 지원하면 이 코드 적용 */
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
